.header-container h1 {
  text-align: center;
  color: white;
  font-size: 32px;
}
.header-container span {
  color: green;
}
.logo {
  width: 100%;
  height: 150px;
  background: url(../img/logo-projetoRotina.png)no-repeat center;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width:768px){
  .header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-container h1{
    font-size: 48px;
  }
  .logo{
    width: 300px;
    margin-bottom: 32px;
  }
}
