.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container h2 {
  color: white;
  text-align: center;
  margin-bottom: 24px;
}
.main-container span {
  color: green;
}
.main-container .botao-adicionar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid green;
  margin-bottom: 24px;
}

/* css do card começa aqui */
#listaTarefas{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card {
  background: white;
  padding: 12px;
  border-radius: 16px;
  margin-bottom: 10px;
  display: flex;
  gap: 8px;
  color: black;
  align-items: center;
  border: 3px solid green;
}
.card input{
  text-align: center;
  padding: 5px;
  border-radius: 16px;
  border: 2px solid green;
}
.card button{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.adicionar{
  background-color: rgb(41, 248, 41);
  border: 2px solid green;
}
.remover{
  background-color: red;
  border: 2px solid rgb(81, 1, 1);
}
.botao-prioridade{
  background-color: rgb(250, 250, 165);
  border: 2px solid gold;
}
.prioridade {
  border-left: 5px solid gold;
}
button.ativo {
  background: gold;
  color: black;
}
.removeTarefa{
  background-color: rgb(146, 2, 2);
  border: 2px solid red;
  margin-left: 70px;
}
/* css .text-area começa aqui */
.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.text-area h2 {
  color: white;
  margin-top: 16px;
}
.text-area span {
  color: green;
}
.text-area textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 16px;
}
@media screen and (min-width: 768px) {
  .text-area h2 {
    font-size: 48px;
  }
  .text-area textarea {
    font-size: 24px;
  }
}
