.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-atividade {
  margin: 25px;
  width: 100%;
  height: 30px;
  text-align: center;
  border: solid 2px green;
  border-radius: 16px;
}
.botao {
  width: 70px;
  height: 30px;
  margin-bottom: 24px;
  border: solid 2px green;
  border-radius: 16px;
  color: green;
}