@import url(header.css);
@import url(global.css);
@import url(main.css);




/* 
.lista {
  padding: 24px;
  background-color: rgba(128, 128, 128, 0.589);
}
.lista input {
  margin: 10px;
  width: 16px;
}
.lista ul {
  list-style: none;
}
.lista li {
  color: white;
}
.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.text-area h2 {
  color: white;
  margin-top: 16px;
}
.text-area span {
  color: green;
}
.text-area textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 16px;
} */
